

:root {
  --primary-color: #A92831;
  --secondary-color: #620D14;
  --travel-color: #b58632;

  --third-color: #37040E;
  --fourth-color: #240902;
  --mobile-size: 800px;
}

#app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.background-primary {
  background-color: var(--primary-color);
}

.background-secondary {
  background-color: var(--secondary-color);
}

.background-white {
  background-color: white;
}

.background-travel
{
  background-color: var(--travel-color);
}

.background-filter-black {
  background-color: rgba(0, 0, 0, 0.6);
}


.text-primary{
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  font-size: 2.5rem;
}

.title-size {
  font-size: 2.5rem;
}

.subtitle-container
{
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.8rem;
  text-align: center;
}

.subtitle-size {
  font-size: 1.8rem;
}

.text-paragraph {
  font-size: 1.2rem;
}

.text-paragraph-padding
{
  padding-bottom: 2rem;

}

.paragraph-container
{
  padding: 2vh;
  word-wrap: break-word;

}

.link {
  cursor: pointer;
  font-size: 1.2rem;
  color: blue;
  margin-top: 1rem;
  text-decoration: underline;
}

.filter
{
  width: 100%;
  height: 100%;
}

.full-width-panel
{
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

  @media (max-width: 1024px) {

  .disappear-on-ipad {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .disappear-on-mobile {
    display: none !important;
  }
}

