.flex
{
    display : flex;
}

.flex-col
{
    flex-direction: column;
}

.flex-row
{
    flex-direction: row;
}

.align-center
{
    align-items: center;
}

.align-start
{
    align-items: start;
}


.justify-center
{
    justify-content: center;
}
.justify-start
{
    justify-content: start;
}

.justify-around
{
    justify-content: space-around;
}

.justify-between
{
    justify-content: space-between;
}
.self-stretch
{
    align-self: stretch;
}

.flex-1
{
    flex: 1;
}

.flex-2
{
    flex: 2;
}

.flex-3
{
    flex: 3;
}