
:root {

  --primary-color: #A92831;
  --secondary-color: #620D14;
  --third-color: #37040E;
  --fourth-color: #240902;

}

/* semantic color variables for this project */
:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}



