@import './base.css';

#app {
  width : 100vw;
  height: 100vh;

}


html, body {
overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*!* Style pour les navigateurs basés sur WebKit (Chrome, Safari, etc.) *!*/
/*::-webkit-scrollbar {*/
/*width: 12px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*  background: #f0f0f0; !* Couleur de l'arrière-plan de la scrollbar *!*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*  background-color: #ccc; !* Couleur de la poignée de la scrollbar *!*/
/*  border-radius: 6px; !* Arrondir les coins de la poignée *!*/
/*}*/

/*!* État au survol de la poignée *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background-color: #aaa; !* Couleur plus foncée au survol *!*/
/*}*/

