.first_page
{
    background-image: url(../images/BackgroundFirstPage.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover; /* L'image couvrira toute la section */
    background-position: initial; /* Position de l'image */
    background-repeat: no-repeat; /* Évite que l'image se répète */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.first_page_filter
{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond pour le filtre */
    z-index: 2;

}
.first_page_information
{

    display: flex; flex-direction: row; margin-top: 30vh; justify-content: start; align-items: center; color: white; font-size: 5vw;

}


@keyframes pulse {
    0%, 100% {
        opacity: 0.8; /* Opacité initiale */
    }
    50% {
        opacity: 0.85; /* Légère augmentation de l'opacité */
    }
}



.firstpage_logo_container {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    height: 33vh;
    margin-top: 10%;
}

.logo {
    object-fit: fill; /* Conserve les proportions du logo */
}

.firstpage_title_text
{
    font-size : 5em;
}


/* Responsiveness */

/* Styles pour les petits PC */
@media (max-width: 1366px) and (min-width: 1025px) {
    .firstpage_title_text {
        font-size: 2.2em; /* Ajuste la taille du texte pour les petits PC */
    }

    .firstpage_logo_container {
        justify-content: center; /* Centre les éléments sur petit PC */
        max-height: 25vh; /* Ajuste la hauteur du conteneur pour petit PC */
    }

    .logo {
        max-width: 70%; /* Limite la taille du logo pour qu'il s'adapte aux petits écrans */
        max-height: 70%;
    }


}

/* Styles pour les écrans de tablettes */
@media (max-width: 1024px) {
    .firstpage_title_text {
        font-size: 2.5em; /* Réduit la taille du texte sur les tablettes */
    }

    .firstpage_logo_container {
        justify-content: center; /* Centre les éléments sur tablette */
        max-height: 20vh; /* Diminue la hauteur du conteneur pour tablette */
    }

    .logo {
        max-width: 80%; /* Limite la taille du logo pour qu'il s'adapte aux petits écrans */
        max-height: 80%;
    }



    .screen_display {

    }
}

/* Styles pour les écrans de téléphones */
@media (max-width: 768px) {
    .firstpage_title_text {
        font-size: 2em; /* Réduit encore plus la taille du texte pour téléphone */
    }

    .firstpage_logo_container {
        flex-direction: column; /* Affiche le logo et le texte en colonne sur téléphone */
        justify-content: center;
        align-items: center;

        margin-top: 5%; /* Réduit la marge pour téléphone */
    }

    .logo {
        max-width: 80%; /* Limite la taille du logo pour qu'il s'adapte aux petits écrans */
        max-height: 80%;
    }

}