.sixth_page
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: black;


}


.timeline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 3vw auto;
    position: relative;
}

/* Horizontal line */
.timeline::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 0.2vw;
    background-color: #b58632;
    z-index: -1;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Circles for events */
.circle {
    width: 2.5vw;
    height: 2.5vw;
    background-color: #b58632;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 0.5vw;
    font-size: 0.8vw;
}

.event-text {
    color: black;
    font-size: 0.8vw;
    font-weight: bold;
}

.highlight {
    border: 3px solid purple;
    border-radius: 50%;
    padding: 5px;
}

.big_image
{

    height:25vh;

}

.middle_image
{
    height:22.5vh;
}

.little_image
{
    height:20vh;
}

@media (max-width: 500px) {

    .big_image
    {

            height:15vh;
    }

    .middle_image
    {
        height:12.5vh;
    }

    .little_image
    {
        height:10vh;
    }

    .circle
    {
        width: 1.5vh;
        height: 1.5vh;
        font-size: 1vw;
    }

}